h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

pre {
  width: 50%;
  padding: 0 15px;
  background-color: #fff2bb;
  border: 1px solid #ffe159;
}

footer {
  margin-left: 320px;
}

.inline-code {
  font-style: italic;
  background-color: #fff2bb;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f0f0;
}

#navbar li {
  list-style: none;
  border-top: 1px solid #858585;
}

#navbar li:hover {
  background-color: #858585;
}

#navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000958;
}

#navbar header {
  margin: 0 auto;
  padding-top: 10px;
}

#main-doc {
  margin-left: 320px;
  text-align: left;
}

@media (max-width: 800px) {
  body {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  #navbar {
    position: relative;
    width: 95%;
    margin: auto;
  }

  #main-doc {
    position: relative;
    width: 95%;
    margin: 10px 0;
  }

  pre {
    width: 90%;
    word-wrap: break-word;
  }
}
